*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(8, 8, 74);
    color: white;
    font-size: 3rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: rgb(10, 10, 77);
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}
.score{
    font-size: 2.1rem;
}
.msg{
    font-size: 2rem;
    background-color: rgb(5, 5, 53);
    color: white;
    display: inline;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
}
.msg-container{
    margin-top: 3rem;
}
#yourScore, #compScore{
    font-size: 3rem;
}
.reset-btn{
    margin-top: 3rem;
}
#reset{
    background-color: rgb(51, 10, 90);
    color: white;
    padding: 0.6rem;
    border-radius: 0.6rem;
}